ul
    for file in directory
        li
            if file.is_dir
                a(href="{% url 'directory' file.rel_path %}") {{ file.name }}
            else
                a(href="{% url 'file' file.rel_path %}") {{ file.name }}
